.git/
*.ats*
/**/Debug/
/**/Release/
/**/html/
/**/.dep
/**/*.e*
/**/*.hex
/**/*.ls*
/**/**/*.ls*
/**/*.map
/**/*.o
/**/**/*.o
/**/*.sym
/**/*.cmd
/**/*.i
/**/*.s
/**/*.d
/**/**/*.d
/**/*.xcf
/**/**/*.xcf
/**/**/**/*.xcf
/**/*.v*
/**/Makefile
/**/*.mk
/**/*.cproj

